# dependencies
node_modules
.pnpm-store

# production build
dist
dist-ssr

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/
